<!DOCTYPE html>
<html lang="en">

<head>
<!--including header part-->
<% include ../partials/head %>
</head>

<!--applying internal styles-->
<style>
body{
background-color: rgb(147, 189, 228);
}
.lead{
	margin-top: 10%;
	font-size: 15px;
	text-align: left;
	color: rgb(105, 101, 101);
	font-weight: bold;
	
}
h3{
	text-align: left;
	font-size: 20px;
}
</style>


<body >
	<!--including nav part-->
    <% include ../partials/nav %>

    <div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">
					
				<h3><strong>A little information about me</strong></h3>
				<p class="lead">
					I'm a creative and innovative web developer with more than 3 years of well-rounded experience in user-centered design, development and continuous integration. My skills include HTML, CSS, client-side and server-side scripting, and graphic design
				</p>
			</div>
			<div class="col-md-4 col-md-offset-1 text-center">
					
				<h3><strong>Career Objectives</strong></h3>
					<p class="lead">
						To be associated with a progressive organization that gives me scope to enhance my knowledge and skills in accordance with latest trends. Be a part of the team and dynamically work towards the growth of the organization.
					</p>
			</div>
		</div>
	</div>
</body>

</html>